@font-face {
  font-family: "Futura PT Light";
  src: local("Futura PT Light"), url(../public/fonts/FuturaPT-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Futura PT Light", sans-serif !important;
  font-variant-numeric: lining-nums;
  user-select: auto;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #c1a575;
}
.css-hyum1k-MuiToolbar-root {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
/* tegs */
a {
  color: black !important;
  text-decoration: none !important;
}
h3 {
  font-family: "Futura PT Light" !important;
}
li {
  list-style-type: none;
}
img {
  display: block;
}
li {
  font-size: 17px;
  margin-bottom: 10px;
}

/* tegs end */

.slick-dots li button:before {
  color: #c1a575 !important;
}

/* displays */

.disp-f {
  display: flex;
}
.d-flex-j-content-c {
  display: flex !important;
  justify-content: center !important;
}
.f-start {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/*  */

.main-button {
  transition: all 0.5s ease !important;
  color: #c1a575 !important;
  background-color: #c1a575;
  border: 2px solid #c1a575 !important;
  font-weight: bold;
  letter-spacing: 0.2em !important;
  border-radius: 0 !important;
  text-transform: uppercase;
}
.main-button:hover {
  transition: 0.2s;
  color: white !important;
  background-color: #c1a575 !important;
}
.button-white {
  transition: all 0.5s ease !important;
  color: white !important;
  border: 1px solid white !important;
  letter-spacing: 0.2em !important;
  border-radius: 0 !important;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
}
.button-white:hover {
  transition: 0.5s;
  background-color: #c1a575 !important;
  border: 1px solid #c1a575 !important;
  letter-spacing: 0.5em !important;
}
.button-black {
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0 !important;
}
.button-black:hover {
  transition: 0.5s;
  color: white !important;
  background-color: black !important;
  letter-spacing: 0.9 !important;
}
/* .slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  color: #c1a575 !important;
} */
/* .slick-next {
  right: 45px !important;
}
.slick-prev {
  left: 25px !important;
  z-index: 3;
} */

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  top: 20vw;
}
.slick-prev {
  left: 30px !important;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.slick-next {
  right: 20px !important;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 25px !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #c1a575 !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  display: none;
}
.css-h4y409-MuiList-root {
  padding: 0 !important;
}
.MuiListItemText-primary {
  font-weight: bold !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  padding: 0.7rem 2rem !important;
  border-bottom: solid rgba(40, 40, 40, 0.1) 1px !important;
}
.css-13eg511-MuiButtonBase-root-MuiListItemButton-root {
  background-color: #80808026 !important;
  border-bottom: solid rgba(40, 40, 40, 0.1) 1px !important;
  padding-left: 60px !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
  text-decoration: none;
  background-color: #c1a575 !important;
}
.css-13eg511-MuiButtonBase-root-MuiListItemButton-root:hover {
  text-decoration: none;
  background-color: #c1a575 !important;
}

/* item navigation */
.css-1sr0y0p-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: black !important;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: #c1a575 !important;
}

/* accordion */
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  border-top: 1px solid #8080804a;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: 1px solid #8080804a;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: 1px solid #8080804a;
  border-bottom: 1px solid #8080804a;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}

@media all and (max-width: 830px) {
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    top: 50%;
  }
}
